.Sad {
    fill: #2d36d6;
}

.Neutral {
    fill: #8f8f8f;
}

.Angry {
    fill: #d62d2d;
}

.Surprised {
    fill: #eded2d;
}

.Disgusted {
    fill: #800080;
}

.Scared {
    fill: #d68a2d;
}

.Happy {
    fill: #008000;
}

.test {
    fill: #ff35ab ;
}

body{
    background-color: #427070;
    overflow-y: hidden;
}

form#filterForm label, form#filterForm input {
    width: 10%;
    color: #fff;
}

.topBar {
    background-color: #468585;
    width: 98%;
    padding: 1%;
    height: 27px;
}

.ButtonsBox {
    width: 20%;
    position: absolute;
    margin-left: 13%;
    top: 3%;
}

.ButtonsBox a:hover {
    cursor: pointer;
}

.legenda {
    width: 7%;
    overflow: hidden;
    float: left;
}

.svgBox {
    overflow: hidden;
    width: 85%;
}

.legenda img {
    width: 65%;
    margin-top: 12%;
}

.sadFaceExpression, .happyFaceExpression, .disgustedFaceExpression, .surprisedFaceExpression, .scaredFaceExpression, .neutralFaceExpression, .angryFaceExpression {
    display: none;
}

.Sad .sadFaceExpression{
    display: block;
}

.Happy .happyFaceExpression  {
    display: block;
}

.Disgusted .disgustedFaceExpression {
    display: block;
}

.Surprised .surprisedFaceExpression {
    display: block;
}

.Scared .scaredFaceExpression {
    display: block;
}

.Neutral .neutralFaceExpression{
    display: block;
}

.Angry .angryFaceExpression {
    display: block;
}


* { font-family: "Alike Angular"}

/* CSS */
.ButtonsBox a, .infoButton a{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #427070;
  cursor: pointer;
  display: inline-flex;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: -7%;
}

.ButtonsBox a:focus, .infoButton a:focus{
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.ButtonsBox a:hover, .infoButton a:hover{
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.ButtonsBox a:active, .infoButton a:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.buttonsPart {
    width: 35%;
    overflow: hidden;
    float: left;
}

.pageTitle {overflow: hidden;width: 55%;margin-top: -0.4%;height: 42px;}

.pageTitle h1 {
    margin: 0;
    color: #fff;
    font-weight: 100;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #468585;
    color: white;
    text-align: center;
}

.LeftPart, .RightPart {
  width: 34%;
  padding: 2% 3%;
  overflow: hidden;
  float: left;
  color: #fff;
  height: 274px;
}

.RightPart {
    text-align: right;
    width: 51%;
}

.svgIndex {
    margin: -8px;
}

g#openDoor {
    display: none;
}

a.doors:hover #closedDoor {
    display: none;
}

a.doors:hover #openDoor {
    display: block;
}

.infoButton {
    width: 2.6%;
    position: absolute;
    margin-left: 94%;
    top: 3%;
}

option, select {
    background-color: #427070;
    color: #fff;
    border: none;
}